header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

header .header__left {
  max-width: 62rem;
  flex: 1;
}

header .header__left p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 50rem;
}

header .header__right {
  flex: 1; /* Garante que o contêiner direito ocupe espaço igual ao esquerdo */
  display: flex; /* Adiciona flexbox ao contêiner direito */
  justify-content: flex-end; /* Alinha o conteúdo à direita */
}

header .header__right .header__image {
  position: relative;
  line-height: 0;
}

header .header__right .header__image::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid var(--tertiary-color);
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  border-radius: 0.5rem;
  z-index: -1;
}

header .header__right .header__image .Erinaldo {
  border-radius: 0.5rem;
  min-width: 24rem; /* Aumenta a largura mínima */
  max-width: 34rem; /* Aumenta a largura máxima */
  height: auto; /* Mantém a proporção da imagem */
  /* Removendo qualquer posicionamento relativo ou right */
}

header .header__right .header__image .background {
  position: absolute;
  top: -3rem; /* Ajustar a posição para manter o layout */
  right: -2rem; /* Ajustar a posição para manter o layout */
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header__left p {
    margin: 2rem auto 4rem;
  }
}
